{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
   <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
<body>

<h1>New Question</h1>

    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
      <div class="mb-3 row">
    <div class="col-sm-10">
      <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">ASK!</button>
  </div>
    </div>
  </div>
    </form>

<script src="../static/js/bootstrap.js" ></script>
</body>
</html>

{% endblock %}