{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  </head>
  <body class="d-flex flex-column h-100">

    <div class="row-header">
      {% if request.GET.mod == 'hot'%}
            <h1>Hot Questions</h1>
            <div class="hot-questions "><a href="{% url 'index' %}?mod=new">New Questions</a></div>
      {% else %}
            <h1>New Questions</h1>
            <div class="hot-questions "><a href="{% url 'index' %}?mod=hot">Hot Questions</a></div>
      {% endif %}

    </div>

    {% for question in questions %}

    {% include 'components/question-item.html' %}

    {% endfor %}

    {% include 'components/paginator.html' with html_template='index'%}

  </body>
</html>
{% endblock %}