{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}

<h1>Settings: {{user.username}}</h1>


    <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if request.user.avatar.url %}
        <div style="width: 300px">
            <img src="{{ request.user.avatar.url }}" alt="Profile Avatar" class="w-100"/>
        </div>
    {% endif %}
    <div class="mb-3 row">
    <div class="col-sm-10">
      <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Save</button>
  </div>
    </div>
  </div>
    </form>





{% endblock %}
