
<!doctype html>
<html lang="en" class="h-100">
  <head>
   <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<div class="col-8">
    <div class="row-header">
        <h1>New Questions</h1>
        <div class="hot-questions "><a href="">Hot Questions</a></div>
    </div>


        <div class="row question">
          <div class="col-2">
              <img src="../static/img/cat.jpg" class="question-image">
               <div class="like-counter">
                   <div class="col-7">
                       <div class="rating-display">
                           <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">5</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-5">
                       <div class="vote-buttons ">
                        <button id="goodVoteButton" >
                            <svg class="icn icn_like" width="1px" height="1px">
                                <img src="../static/img/plus.png" class="plus-image">
                            </svg>
                        </button>
                        <button id="badVoteButton">
                            <svg class="icn icn_dislike" width="1px" height="1px">
                                <img src="../static/img/minus.png" class="minus-image">
                            </svg>

                        </button>
                    </div>
                   </div>



               </div>
          </div>

          <div class="col-10">
              <div class="question-title"><a href="">How to build a moon park ?</a></div>
              <div class="question-text">Andrewsarchus is a beast that's full of surprises.
                  These ungainly creatures might seem sluggish while foraging for a meal, but they can move unexpectedly fast when provoked.
                  Like certain other whippomorphs, Andrewsarchus will aggressively defend its territory against interlopers.
                  With some distance between you, it may be possible to dodge a charging Andrewsarchus -- they don't exactly turn on a dime.
                  Just don't expect a river or lake to protect you from one. As long as its feet can reach bottom, Andrewsarchus will plow its way right through deep water.
                  These scavengers will tear into just about anything if hungry, but they've got a bit of a sweet tooth.
                  I've seen many an agitated Andrewsarchus pacified by some honey.
              </div>
              <div class="row underquestion">
                  <div class="col-5">
                    <div class="answer"><a href="">answer (3)</a></div>
              </div>
              <div class="col-7">
                     <div class="tags-two-points">Tags:<a href="" class="black-jack" >black-jack</a>  <a href="" class="bender">bender</a></div>
              </div>
              </div>

          </div>
        </div>

         <div class="row question">
          <div class="col-2">
              <img src="../static/img/cat.jpg" class="question-image">
               <div class="like-counter">
                   <div class="col-7">
                       <div class="rating-display">
                           <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">5</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-5">
                       <div class="vote-buttons ">
                        <button id="goodVoteButton" >
                            <svg class="icn icn_like" width="1px" height="1px">
                                <img src="../static/img/plus.png" class="plus-image">
                            </svg>
                        </button>
                        <button id="badVoteButton">
                            <svg class="icn icn_dislike" width="1px" height="1px">
                                <img src="../static/img/minus.png" class="minus-image">
                            </svg>

                        </button>
                    </div>
                   </div>



               </div>
          </div>

          <div class="col-10">
              <div class="question-title"><a href="">How to build a moon park ?</a></div>
              <div class="question-text">Andrewsarchus is a beast that's full of surprises.
                  These ungainly creatures might seem sluggish while foraging for a meal, but they can move unexpectedly fast when provoked.
                  Like certain other whippomorphs, Andrewsarchus will aggressively defend its territory against interlopers.
                  With some distance between you, it may be possible to dodge a charging Andrewsarchus -- they don't exactly turn on a dime.
                  Just don't expect a river or lake to protect you from one. As long as its feet can reach bottom, Andrewsarchus will plow its way right through deep water.
                  These scavengers will tear into just about anything if hungry, but they've got a bit of a sweet tooth.
                  I've seen many an agitated Andrewsarchus pacified by some honey.
              </div>
              <div class="row underquestion">
                  <div class="col-5">
                    <div class="answer"><a href="">answer (3)</a></div>
              </div>
              <div class="col-7">
                     <div class="tags-two-points">Tags:<a href="" class="black-jack" >black-jack</a>  <a href="" class="bender">bender</a></div>
              </div>
              </div>

          </div>
        </div>

           <div class="row question">
          <div class="col-2">
              <img src="../static/img/cat.jpg" class="question-image">
               <div class="like-counter">
                   <div class="col-7">
                       <div class="rating-display">
                           <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">5</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-5">
                       <div class="vote-buttons ">
                        <button id="goodVoteButton" >
                            <svg class="icn icn_like" width="1px" height="1px">
                                <img src="../static/img/plus.png" class="plus-image">
                            </svg>
                        </button>
                        <button id="badVoteButton">
                            <svg class="icn icn_dislike" width="1px" height="1px">
                                <img src="../static/img/minus.png" class="minus-image">
                            </svg>

                        </button>
                    </div>
                   </div>



               </div>
          </div>

          <div class="col-10">
              <div class="question-title"><a href="">How to build a moon park ?</a></div>
              <div class="question-text">Andrewsarchus is a beast that's full of surprises.
                  These ungainly creatures might seem sluggish while foraging for a meal, but they can move unexpectedly fast when provoked.
                  Like certain other whippomorphs, Andrewsarchus will aggressively defend its territory against interlopers.
                  With some distance between you, it may be possible to dodge a charging Andrewsarchus -- they don't exactly turn on a dime.
                  Just don't expect a river or lake to protect you from one. As long as its feet can reach bottom, Andrewsarchus will plow its way right through deep water.
                  These scavengers will tear into just about anything if hungry, but they've got a bit of a sweet tooth.
                  I've seen many an agitated Andrewsarchus pacified by some honey.
              </div>
              <div class="row underquestion">
                  <div class="col-5">
                    <div class="answer"><a href="">answer (3)</a></div>
              </div>
              <div class="col-7">
                     <div class="tags-two-points">Tags:<a href="" class="black-jack" >black-jack</a>  <a href="" class="bender">bender</a></div>
              </div>
              </div>

          </div>
        </div>

          <nav aria-label="...">
  <ul class="pagination pagonator pagination-lg">
    <li class="page-item active" aria-current="page">
      <span class="page-link">1</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      <li class="page-item"><a class="page-link" href="#">53</a></li>
  </ul>
</nav>


      </div>


    <script src="../static/js/bootstrap.js" ></script>

      
  </body>
</html>
