{% load static %}
<div class="row question">
          <div class="col-2">
              <img src="{% static '/img/cat.jpg' %}" class="question-image">
               <div class="like-counter">
                   <div class="col-7">
                       <div class="rating-display">

                          <span class="input-group-text" id="basic-addon1"> <b class="like-display-field">0</b></span>

                       </div>
                   </div>
                   <div class="col-5">
                       <div class="vote-buttons ">
                        <button id="goodVoteButton" >
                            <svg class="icn icn_like" width="1px" height="1px">
                                <img src="{% static '/img/plus.png' %}" class="plus-image">
                            </svg>
                        </button>
                        <button id="badVoteButton">
                            <svg class="icn icn_dislike" width="1px" height="1px">
                                <img src="{% static '/img/minus.png' %}" class="minus-image">
                            </svg>

                        </button>
                    </div>
                   </div>
               </div>
          </div>

          <div class="col-10" style="padding-left: 25px">
              <div class="question-title-text-underquestion">
                    <div class="question-text">{{ answer.text }}</div>
                        <div class="form-check under-answer">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                Correct!
                                </label>
                         </div>
              </div>

          </div>
        </div>